@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
  --Mulish: "Mulish", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--Mulish);
}

img {
  display: block;
  width: 100%;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.2rem;
}

/* nav style start*/
.nav {
  background-color: black;
}

.nav_content_wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 50px;
  width: 1200px;
  height: 60px;
}

.nav_list {
  display: flex;
  align-items: center;
  gap: 60px;
}

.nav_list_item_one {
  width: 200px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  text-align: center;
}

.nav_list_item_two {
  width: 200px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  text-align: center;
}

.nav_list_item_one::before {
  content: url(pictures/Group.png);
}

.nav_list_item_one::after {
  content: url(pictures/Vector\ 11.png);
}

.nav_list_item_two::after {
  content: url(pictures/Vector\ 11.png);
}

.nav_list_item_one:hover {
  background-color: #00B4DC;
  padding: 21px 0;

}

.nav_list_item {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  cursor: pointer;
}

.nav_list_item:hover {
  color: #00B4DC;
}

.nav_inp_item {
  width: 200px;
  padding: 6px;
  margin: auto;
}



/* nav style end */

/* footer start */

.footer {
  background: #111;
  color: #ccc;
}

.footer_container {
  display: flex;
  justify-content: space-between;
  padding: 50px 80px;
  flex-wrap: wrap;
}

.footer-card {
  width: 18%;
}

.footer-card p {
  margin-bottom: 1rem;
}

.logo h2 {
  color: #fff;
  margin-bottom: 15px;
}

.footer-card ul {
  list-style: none;
  padding: 0;
}

.footer-card ul li {
  margin-bottom: 8px;
}

.footer-card ul li a {
  text-decoration: none;
  color: #ccc;
}

.footer-card ul li a:hover {
  color: #fff;
}

.logo p {
  font-size: 14px;
}

.imblim a {
  display: inline-block;
  margin-right: 10px;
  text-decoration: none;
}

.imblim a img {
  width: 1rem;
  height: 1rem;
}

.Email form {
  display: flex;
  margin-top: 10px;
}

.Email input {
  padding: 10px;
  border: none;
  outline: none;
  width: 70%;
}

.Email button {
  padding: 10px 15px;
  border: none;
  background: #19b6d2;
  color: #fff;
  cursor: pointer;
}

.footer-bottom {
  border-top: 1px solid #333;
  display: flex;
  justify-content: space-between;
  padding: 15px 80px;
  font-size: 14px;
}

/* footer end */


@media only screen and (max-width: 1165px) {
  .nav {
    display: none;
  }
  /* footer start */

  .footer_container {
    display: flex;
    justify-content: space-between;
    padding: 50px 80px;
    flex-wrap: wrap;
  }

  .footer-card {
    width: 18%;
  }

  .footer-card p {
    margin-bottom: 1rem;
  }

  .logo h2 {
    color: #fff;
    margin-bottom: 15px;
  }

  .footer-card ul {
    list-style: none;
    padding: 0;
  }

  .footer-card ul li {
    margin-bottom: 8px;
  }

  .footer-card ul li a {
    text-decoration: none;
    color: #ccc;
  }

  .footer-card ul li a:hover {
    color: #fff;
  }

  .logo p {
    font-size: 14px;
  }

  .imblim a {
    display: inline-block;
    margin-right: 10px;
    text-decoration: none;
  }

  .imblim a img {
    width: 1rem;
    height: 1rem;
  }

  .Email form {
    display: flex;
    margin-top: 10px;
  }

  .Email input {
    padding: 10px;
    border: none;
    outline: none;
    width: 70%;
  }

  .Email button {
    padding: 10px 15px;
    border: none;
    background: #19b6d2;
    color: #fff;
    cursor: pointer;
  }

  .footer-bottom {
    border-top: 1px solid #333;
    display: flex;
    justify-content: space-between;
    padding: 15px 80px;
    font-size: 14px;
  }

  /* footer end */
}