@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
  --Mulish: "Mulish", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--Mulish);
}

img {
  display: block;
  width: 100%;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
}

/* nav style start*/
.nav_content_wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 50px;
  width: 1280px;
  height: 60px;
  background-color: black;
}

.nav_list {
  display: flex;
  align-items: center;
  gap: 60px;
}

.nav_list_item_one {
  width: 200px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  text-align: center;
}

.nav_list_item_one::before {
  content: url(picture/menu.png);
}

.nav_list_item_one::after {
  content: url(picture/Vector\ 11.png);
}

.nav_list_item_one:hover {
  background-color: #00B4DC;
  padding: 21px 0;

}

.nav_list_item {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  cursor: pointer;
}

.nav_list_item:hover {
  color: #00B4DC;
}

.nav_inp_item {
  width: 280px;
  padding: 6px;

}



/* nav style end */

/* footer start */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.footer {
  background: #111;
  color: #ccc;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 50px 80px;
  flex-wrap: wrap;
}

.footer-card {
  width: 18%;
}

.footer-card h3,
.logo h2 {
  color: #fff;
  margin-bottom: 15px;
}

.footer-card ul {
  list-style: none;
  padding: 0;
}

.footer-card ul li {
  margin-bottom: 8px;
}

.footer-card ul li a {
  text-decoration: none;
  color: #ccc;
}

.footer-card ul li a:hover {
  color: #fff;
}

.logo p {
  font-size: 14px;
}

.imblim a {
  display: inline-block;
  margin-right: 10px;
  color: #fff;
  text-decoration: none;
}

.Email form {
  display: flex;
  margin-top: 10px;
}

.Email input {
  padding: 10px;
  border: none;
  outline: none;
  width: 70%;
}

.Email button {
  padding: 10px 15px;
  border: none;
  background: #19b6d2;
  color: #fff;
  cursor: pointer;
}

.footer-bottom {
  border-top: 1px solid #333;
  display: flex;
  justify-content: space-between;
  padding: 15px 80px;
  font-size: 14px;
}
/* footer end */